body {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  margin: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signs {
  display: flex;
}
