body {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  margin: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 1rem;
  border-radius: 5px;
  margin: 0.5rem;
  color: white;
}

button {
  padding: 25px;
  border-radius: 5px;
  margin: 5px;
}

.num {
  margin: 1rem;
  padding: 1rem;
}
